- var title = cwdSmall;
- title = title.replace(/&/g, "&amp;");
- title = title.replace(/</g, "&lt;");
- title = title.replace(/>/g, "&gt;");
//- For line breaks
- title = title.replace(/\//g, "/<wbr>");
.title
	h3(title=cwd)!= title
if cwdSmall != "/"
	- var upDir = cwdSmall.split("/");
	- upDir.pop();
	- upDir.pop();
	- if (upDir.length < 1) {upDir = "/"} else {upDir = "/" + upDir.join("/") + "/";}
	a(href=upDir): .folder
		h4 ↩
each folder in dirList
	- if (cwdSmall !== "/") {
	- 	var cwdSmallEncoded = cwdSmall.split("/");
	- 	for (var i = 0; i < cwdSmallEncoded.length; i++) {cwdSmallEncoded[i] = encodeURIComponent(cwdSmallEncoded[i])};
	- 	cwdSmallEncoded = cwdSmallEncoded.join("/");
	- 	var url = "/" + cwdSmallEncoded + encodeURIComponent(folder);
	- } else {
	- 	var url = "/" + encodeURIComponent(folder);
	- }
	if folder[0] == "."
		a(href=url): .folder.hidden
			h4= folder
	else
		a(href=url): .folder
			h4= folder
each file, index in fileList
	- var filePath = cwd + file;
	if index == 0
		.files-item.selected(data-path=filePath)
			h4= file
			p= infoList[index]
	else
		.files-item(data-path=filePath)
			h4= file
			p= infoList[index]