- var title = cwdSmall;
- title = title.replace(/&/g, "&amp;");
- title = title.replace(/</g, "&lt;");
- title = title.replace(/>/g, "&gt;");
//- For line breaks
- title = title.replace(/\//g, "/<wbr>");
.title
	h3(title=cwd)!= title
if cwdSmall != "/"
	.folder
		h4 
			a(href="../") ↩
each folder in dirList
	if folder[0] == "."
		.folder.hidden
			h4= folder
	else
		.folder
			h4= folder
each file, index in fileList
	if index == 0
		.files-item.selected
			h4= file
			p= infoList[index]
	else
		.files-item
			h4= file
			p= infoList[index]